@model pet_store.Models.Animal
@{
    ViewData["Title"] = $"{Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string? text = $"";
}

<h1>@Model.Name</h1>
<br />

<div>
    <img src="~/Assets/@Model.ImageSource" width="100" height="100" />
    @Model.Category<br />
    Age: @Model.Age<br />
    Description: @Model.Description<br /><br />
    <form method="post">
            leave a comment:<br />
        <label for="visitor"> Name: 
            <input name="visitor" type="text" />
        </label><br />
        <label for="content"> Comment 
            <input name="content" type="text" />
        </label>
        <button type="submit" asp-action="Commented" asp-route-id="@Model.AnimalID">Send Comment</button>
    </form>
    @if (@Model.Comments!.Count() > 0)
    {
        <div>
            Comments:
            @foreach (var comment in @Model.Comments!)
            {
                <p>
                    @if (comment.Visitor is null){ text = "anonymus"; }
                    else { text = @comment.Visitor; }
                    @text:  @comment.Content
                </p>
            }
        </div>
    }
</div>