@model pet_store.Models.Animal
@{
    ViewData["Title"] = $"{Model.Name} - details page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<div>
    <img src="@Model.PictureSrc" width="100" height="100" />
    @Model.Category<br />
    @Model.Age<br />
    @Model.Description<br />
    <form method="post">
        <label for="comment" >
            leave a comment:
            <input name="comment" type="text" />
        </label>
        @*<button type="submit" asp-action="Commented" asp-route-id="@Model.AnimalID" asp-route-comment="comment.value">Send Comment</button>*@
        <button type="submit" asp-action="Commented" asp-route-id="@Model.AnimalID">Send Comment</button>
    </form>
    @if (@Model.Comments!.Count() > 0)
    {
        <div>
            Comments:
            @foreach (var comment in @Model.Comments!)
            {
                <p>@comment.Content</p>
            }
        </div>
    }

</div>