@model pet_store.Models.Animal
@{
    ViewData["Title"] = $"{Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1><br />

<div>
    <img src="@Model.ImageSource" width="100" height="100" />
    @Model.Category<br />
    Age: @Model.Age<br />
    Description: @Model.Description<br />
    <form method="post">
        <label for="comment" >
            leave a comment:<br />
            <input name="comment" type="text" />
        </label>
        <button type="submit" asp-action="Commented" asp-route-id="@Model.AnimalID">Send Comment</button>
    </form>
    @if (@Model.Comments!.Count() > 0)
    {
        <div>
            Comments:
            @foreach (var comment in @Model.Comments!.Select(c=> c.Content))
            {
                <p>@comment</p>
            }
        </div>
    }

</div>