@model pet_store.Models.Category
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<div class="container">
@foreach (var animal in Model.Animals!)
{
    <div class="card">
        Name: @animal.Name<br/>
        Age: @animal.Age<br/>
        @*Description: @animal.Description<br/>*@
        <img src="@animal.ImageSource" width="100" height="100" />
        <a asp-controller="Animal" asp-action="AnimalById" asp-route-id="@animal.AnimalID">Show more</a>
    </div>
}
</div>
