@model pet_store.Models.Category
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<form method="post" asp-action="Index">
    <select id="id" name="id">
        @foreach (var item in ViewData)
        {
            if (Model.Name == item.Key)
            {
                <option value="@item.Value" selected>@item.Key</option>
            }
            else if (item.Key != "Title")
            {
                <option value="@item.Value">@item.Key</option>
            }
        }
    </select>
    <button type="submit">go</button>
</form>
<div class="container">
    @foreach (var animal in Model.Animals!)
    {
        <div class="card">
            <a asp-controller="Animal" asp-action="AnimalById" asp-route-id="@animal.AnimalID">@animal.Name</a><br />
            <img src="~/Assets/@animal.ImageSource" width="100" height="100" />
            <a asp-controller="Animal" asp-action="AnimalById" asp-route-id="@animal.AnimalID">Show more</a>
        </div>
    }
</div>
