@model pet_store.Models.Animal
@{
    ViewData["Title"] = $"Edit Animal - {Model.Name}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Animal</h1>
<br />


<form method="post" asp-action="AnimalEdited">
    <label for="animalName">Name: <input name="name" type="text" placeholder="@Model.Name"></label><br />
    <label>
        Category Name:
        <select name="categoryID">
            @foreach (var item in ViewBag.Categories)
            {
                if (item.Value!.Equals(Model.CategoryID)){<option value="@item.Value" selected>@item.Key</option>}
                else {<option value="@item.Value" selected>@item.Key</option>}
            }
        </select>
    </label>
    <input name="id" value="@Model.AnimalID" hidden /><br />
    <label for="age">Age: <input name="age" type="number" placeholder="@Model.Age"></label><br />
    <label for="description">Description: <input name="description" type="text" placeholder="@Model.Description"></label><br />
    <label for="imageSource">Image Source: <input name="imageSource" type="text" placeholder="@Model.ImageSource"></label><br />
    <button type="submit">Submit</button>
</form>
