@model pet_store.Models.Animal
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
</head>
<body>
    <p>
        animal @Model.Name updated
        new Age: @Model.Age
        @Model.Category
        @Model.Description
        <img src="@Model.PictureSrc" />
        @Model.PictureSrc
        @if (Model.Comments is not null)
            @foreach (var item in Model.Comments)
            {
                @item.Content
            }
    </p>
</body>
</html>
